.table td.has-no-history {
    text-align: center;
}

    .table td.has-no-history .loading-history {
        padding: 1rem;
    }

        .table td.has-no-history .loading-history .umb-load-indicator {
            top: auto;
        }

.announcement-heading-input {
    resize: none !important;
    height: 5em;
}

.announcement-text-input {
    max-width: 100%;
    max-height: 15em;
    height: 10em;
}

.announcement-tooltip {
    margin: 1rem 0;
    border: none;
    background: transparent;
    text-decoration: underline;
}
